.load-more {
    display: none;
}
.gallery {
    margin-top: 70px;
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.photo-card {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.image__photo-card:hover {
    transform: scale(1.03);
}

.image__photo-card {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.link__photo-card {
    display: block;
    text-decoration: none;
    height: 100%;
}

.link__photo-card:hover {
    cursor: zoom-in;
}